.sublimacion {
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.imagenSublimacion {
  width: 100%;
  max-width: 1100px;
  height: auto;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .overlay {
    padding: 48px 16px 24px;
  }

  .imagenSublimacion {
    content: url("/sublimadora-mob.png");
    max-width: 100%;
  }
  
}

