.container {
  max-width: 1200px;
  margin: auto;
  padding: 24px 16px 60px;
}

/* MOBILE */
.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.imageBox {
  background: #f5f5f5;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.imageBox img {
  width: 100%;
  max-width: 320px;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  margin-bottom: 12px;
}

.price {
  font-size: 22px;
  font-weight: 700;
}

.price span {
  display: block;
  font-size: 12px;
  color: #777;
}

.subtitle {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
}

.qty {
  display: flex;
  gap: 12px;
  margin: 12px 0 28px;
}

.qtyBtn {
  flex: 1;
  padding: 12px 0;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #fff;
  font-weight: 500;
  cursor: pointer;
}

.qtyBtn:hover {
  border-color: #b68b2e;
  color: #b68b2e;
}

.active {
  background: #0b1f2a;
  color: #fff;
  border-color: #0b1f2a;
}

.mainBtnP {
  width: 100%;
  padding: 18px;
  border-radius: 30px;
  background: #b68b2e;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.mainBtnP:hover {
    background-color: transparent;
    border: 2px solid #b68b2e;
    color: #b68b2e;
  }
.info a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* ===== DESKTOP (CAMBIO REAL) ===== */
@media (min-width: 1024px) {
  .layout {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  .imageBox {
    flex: 1;
    padding: 40px;
  }

  .imageBox img {
    max-width: 420px;
  }

  .info {
    flex: 1;
  }

  .title {
    font-size: 28px;
  }

  .price {
    font-size: 26px;
  }

  .mainBtnP {
    width: 70%;
  }
}
.backBtn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
  padding: 8px 14px;
  font-size: 13px;
  font-weight: 500;
  color: #0b1f2a;
  background: transparent;
  border: none;
  cursor: pointer;
}

.backBtn:hover {
  text-decoration: underline;
}

/* Desktop */
@media (min-width: 1024px) {
  .backBtn {
    font-size: 14px;
    margin-bottom: 24px;
  }
}