.hero {
  width: 100%;
  height: 80vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  background: #fff;
}
.hero-title {
  font-family: "Times New Roman", serif;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 4px;
  color: #1f2d3a;
}
.hero-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  overflow: hidden;
}
.hero-image {
  object-fit: cover;
}
.hero-image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}
.hero-text {
  position: absolute;
  inset: 0;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-button {
  background: #0b1c26;
  color: #fff;
  border: 0;
  padding: 16px 48px;
  width: 250px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.hero-button:hover {
  background: #143447;
  transform: translateY(-2px);
}
@media (min-width: 1200px) {
  .hero-title {
    font-size: 48px;
  }
  .hero-text {
    font-size: 22px;
  }
  .hero-image-wrapper {
    height: 560px;
  }
}
@media (min-width: 1024px) {
  .hero {
    height: 100vh;
    padding: 60px 0;
    gap: 40px;
  }
  .hero-title {
    font-size: 56px;
    letter-spacing: 6px;
  }
  .hero-image-wrapper {
    max-width: 1400px;
    height: 650px;
  }
  .hero-text {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .hero-button {
    background-color: transparent;
    color: #0b1c26;
    border: 1px solid #0b1c26;
    width: 150px;
    padding: 10px 0px;
    font-size: 14px;
    transition: 0.3s;
    transform: none;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .hero-button:hover {
    background: #0b1c26;
    color: #fff;
    transform: none;
  }
}
