.hero {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  background: #f3f3f3;
}
.hero-title {
  font-family: serif;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 4px;
  color: #1f2d3a;
  text-align: center;
  padding-top: 100px;
}
.hero-p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #1f2d3a;
  max-width: 350px;
  text-align: center;
  line-height: 1.4;
  margin: 0 10px;
}
.hero-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  overflow: hidden;
}
.hero-image {
  object-fit: cover;
}
.hero-image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}
.hero-text {
  position: absolute;
  inset: 0;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-button {
  background: #0b1c26;
  color: #fff;
  border: 0;
  padding: 16px 48px;
  width: 250px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.hero-button:hover {
  background: #143447;
  transform: translateY(-2px);
}
@media (min-width: 1200px) {
  .hero-title {
    font-size: 48px;
  }
  .hero-text {
    font-size: 22px;
  }
  .hero-image-wrapper {
    height: 560px;
  }
}
@media (min-width: 1024px) {
  .hero {
    height: 80vh;
    padding: 60px 0 30px;
    gap: 40px;
  }
  .hero-title {
    font-size: 70px;
    letter-spacing: 6px;
  }
  .hero-p {
    font-size: 20px;
    max-width: 700px;
    text-align: center;
    line-height: 1.25;
    margin: 0 20px;
  }
  .hero-image-wrapper {
    max-width: 1400px;
    height: 650px;
  }
  .hero-text {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .hero-button {
    background-color: transparent;
    color: #0b1c26;
    border: 1px solid #0b1c26;
    width: 160px;
    padding: 10px 5px;
    font-size: 14px;
    transition: 0.3s;
    transform: none;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .hero-button:hover {
    background: #0b1c26;
    color: #fff;
    transform: none;
  }
}
