.menu-overlay {
  position: fixed;
  inset: 0;
  background: #ffffff;
  z-index: 9999;
  overflow-y: auto;
}

.menu-mobile {
  min-height: 100vh;
  width: 100%;
}
.menu-title-item {
  width: 100%;
  text-align: left;
  padding: 14px 14px 24px 16px;
  border-bottom: 1px solid #e5e7eb;
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;

  font-size: 35px;
  font-weight: normal;
  letter-spacing: 0.08em;
  color: #2C2F33;
  cursor: pointer;
}
/* ITEM PRINCIPAL */
.menu-item {
  width: 100%;
  text-align: left;
  padding: 14px 16px;
  border-bottom: 1px solid #e5e7eb;
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;

  font-size: 25px;
  letter-spacing: 0.08em;
  color: #535353;
  cursor: pointer;
}

/* SUBMENU CONTENEDOR */
.submenu {
  background-color: #fafafa;
}

/* ITEM SUBMENU */
.submenu-item {
  width: 100%;
  text-align: left;
  padding: 14px 16px 14px 32px;
  border-bottom: 1px solid #e5e7eb;
  background: none;
  border: none;

  font-size: 20px;
  letter-spacing: 0.08em;
  color: #535353;
  cursor: pointer;
}
.close-button {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
    border: none;
    background: none;
    padding: 10px 16px;
}
.menu-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 14px;
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}
