.dropdown {
  position: relative;
}

.dropdown-label {
  cursor: pointer;
  padding: 8px 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  background: #0B1F2A;
  min-width: 180px;
  padding: 12px 0;

  display: none;
  flex-direction: column;

  border-radius: 4px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.dropdown:hover .dropdown-menu {
  display: flex;
}
